.headings{
    margin-left: 1200px;
    display: flex;
    background-color: aquamarine;
    border-radius: 25%;

}
h1{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-top:0 ;
}
p{
    font-size: 25px;
}